<!DOCTYPE html>
<html ng-app>
<head>
<title>
</title>
</head>
<body>
	<h2>Adding a Simple Controller</h2>
	<div ng-controller="SimpleController">
		Name: <input type="text" ng-model="name" /> {{ name }}
		<ul>
			<li ng-repeat="player in players | filter: name | orderBy:'club'">
				{{ player.name | uppercase}} - {{ player.club | lowercase}} - {{ player.weekly | currency }}
			</li>
		</ul>
	</div>

	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript">
		function SimpleController($scope){

			$scope.players = [
				{name: 'Ronaldo', club: 'Real Madrid', weekly: '1000'},
				{name: 'Van parsie', club: 'Manchester United', weekly: '900'},
				{name: 'Messi', club: 'Barcelona', weekly: '1010'},
				{name: 'Silva', club: 'Manchester City', weekly: '850'}
			]
		}
	</script>
</body>
</html>